@font-face {
    font-family: 'arrow';
    src: url('../fonts/arrow.eot');
    src: url('../fonts/arrow.eot?#iefix') format('embedded-opentype'), url('../fonts/arrow.woff') format('woff'), url('../fonts/arrow.ttf') format('truetype'), url('../fonts/arrow.svg#arrow') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Noto Sans', arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-overflow-scrolling: touch;
}
.gridbox {
    font-size: 14px;
    line-height: 18px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    border-radius: 2px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-content: space-between;
    -ms-flex-line-pack: justify;
    align-content: space-between;
}

.gridbox .header {
    font-size: 16px;
    line-height: 20px;
    width: 100%;
    text-transform: uppercase;
    padding: 7px 25px 8px 12px;
}

.box1,
.box2,
.box3 {
    width: 100%;
    position: relative;
}
.box1 {
    height: auto;
    z-index: 4;
}
.box2 {
    padding: 15px;
}

.height55 {
    height: 55px;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.height81 {
    height: 81px;
}

.height133 {
    height: 133px;
}

.height185 {
    height: 185px;
}

.height289 {
    height: 289px;
}

.with-img .box2 {
    padding: 0;
    overflow: hidden;
}

.with-img .box2 img {
    -webkit-transform: translate(-10%, -40%);
    transform: translate(-10%, -40%);
    height: 100%!important;
    max-width: initial!important;
}

.text-down {
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.text-down .box1 {
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
    height: 100%;
    /*min-height: 52px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    opacity: 0.96;*/
}
.text-down .box2 {
    /*min-height: 81px;*/
}
.text-down:not(.height55) .header {
    position: absolute;
    bottom: 0;
    left: 0;
}
.box1 .header {
    color: #666;
}
.brown {
    border-color: #4f473f;
}
.brown-border {
    border: 1px solid #4f473f;
}
.brown-full, .brown-full .header,
.brown .header {
    background-color: #4f473f;
    color: #fff;
}

.red {
    border-color: #901a1e;
}
.red-border {
    border: 1px solid #901a1e;
}
.red-full, .red-full .header,
.red .header {
    background-color: #901a1e;
    color: #fff;
}

.blue {
    border-color: #a1c5c8;
}
.blue-border {
    border: 1px solid #a1c5c8;
}
.blue-full, .blue-full .header,
.blue .header {
    background-color: #a1c5c8;
    color: #fff;
}

.green {
    border-color: #a0b763;
}
.green-border {
    border: 1px solid #a0b763;
}
.green-full, .green-full .header,
.green .header {
    background-color: #a0b763;
    color: #fff;
}

.grey {
    border-color: #c4c4c4;
}
.grey-border {
    border: 1px #c4c4c4;
}
.grey-full, .grey-full .header,
.grey .header {
    background-color: #f2f2f0;
    color: #666;
}

.white {
    /*border-color: #c4c4c4;*/
}

.white-full, .white-full .header,
.white .header {
    background-color: #fff;
    color: #666;
}

.white.icon-arrow:before,
.white-full.icon-arrow:before,
.grey.icon-arrow:before,
.grey-full.icon-arrow:before {
    color: #666;
}

/* FAK-farver */

.ku-red-border {
    border: 1px solid #bb202c;
}

.ku-red {
    border-top: 1px solid #bb202c;
}

.ku-red.icon-arrow:before, .ku-red-border.icon-arrow:before {
    color: #bb202c;
}

.ku-grey-border {
    border: 1px solid #666;
}

.ku-grey {
    border-top: 1px solid #666;
}

.ku-grey.icon-arrow:before,
.ku-grey-border.icon-arrow:before {
    color: #666;
}

.teol-border {
    border: 1px solid #66609e;
}

.teol {
    border-top: 1px solid #66609e;
}

.teol.icon-arrow:before,
.teol-border.icon-arrow:before {
    color: #66609e;
}

.sund-border {
    border: 1px solid #2a216a;
}

.sund {
    border-top: 1px solid #2a216a;
}

.sund.icon-arrow:before,
.sund-border.icon-arrow:before {
    color: #2a216a;
}

.science-border {
    border: 1px solid #46743c;
}

.science {
    border-top: 1px solid #46743c;
}

.science.icon-arrow:before,
.science-border.icon-arrow:before {
    color: #46743c;
}

.samf-border {
    border: 1px solid #e13718;
}

.samf {
    border-top: 1px solid #e13718;
}

.samf.icon-arrow:before,
.samf-border.icon-arrow:before {
    color: #e13718;
}

.jura-border {
    border: 1px solid #999632;
}

.jura {
    border-top: 1px solid #999632;
}

.jura.icon-arrow:before,
.jura-border.icon-arrow:before {
    color: #999632;
}

.hum-border {
    border: 1px solid #365aa5;
}

.hum {
    border-top: 1px solid #365aa5;
}

.hum.icon-arrow:before,
.hum-border.icon-arrow:before {
    color: #365aa5;
}

/* FAK-farver end */
/*Arrow on header on top:*/
.icon-arrow:before {
    display: inline-block;
    font-family: 'arrow';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: '\0043';
    color: #fff;
    font-size: 11px;
    top: 10px;
    right: 5px;
    position: absolute;
    z-index: 5;
}

/*Arrow on header at bottom:*/
.text-down.icon-arrow:before {
    bottom: 10px;
    top: auto;
}

.height289 .box1 {
    height: 133px;
    font-weight: bold;
    color: #4a4949;
    padding: 10px 15px;
}

.height289 .box2 {
    height: 156px;
    padding: 0;
    overflow: hidden;
}

.height289 .box2 img {
    max-width: 100%;
    height: auto;
    -webkit-transform: translate(0%, -20%);
    transform: translate(0%, -20%);
}

.gridbox-small {
    font-size: 12px;
    color: #9a9a9a;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 6px;
}
.height185 .box2 {
    padding:0;
}
.height81 .box2 {
    padding: 0 17px 7px 15px;
}

.height81.header-only .header {
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
}

.height81.icon-arrow:before {
    bottom: 10px;
    top: inherit;
}

.height55.with-img.img-left .box1 {
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
}

.height55.with-img.img-left .box2 {
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
}

.height55.with-img.img-right .box1 {
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
}

.height55.with-img.img-right .box2 {
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
}

.height55 .box1 .header {
    padding: 7px 17px 0 15px;
    font-weight: bold;
}

.height55.header-only .header {
    font-weight: bold;
    font-size: 18px;
}

.height55 .box1 .text {
    padding: 0 17px 7px 15px;
}

.height55.with-img .box2 {
    width: 60px;
    overflow: hidden;
}
.height55.with-img .box2 img {
    max-width: 100%!important;
    height: auto!important;
    -webkit-transform: none;
            transform: none;
}
.hidden {
    display: none;
}

*,
:after,
:before {
    box-sizing: border-box;
}
/*Cms override */
#wrapper img {
    height: auto!important;
    max-width: initial!important;
}
